@use "./partials" as *;

.pen-btn-container {
    width: 130px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 25px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: {
        color: $black;
    }
    border: {
        radius: 50px;
    }
    & .pen-btn-img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    & .pen-btn-text {
        font-family: $poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: $white;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}